.docs-icon-wrapper {
    border: 1px solid var(--vp-c-divider-light);
    border-radius: 5px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
